body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-width: 600px;
}

canvas {
    border: 1px solid #555;
    margin: 10px;
}

img {
    height: 100px;
    width: 100px;
    border: 1px solid #555;
}

div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

p {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

h3 {
    font-weight: 400;
    font-size: 14px;
    padding-left: 5px;
}